# P3: DATA ENGINEERING: Inserting data into the database

### Notebook Description

The main goal of this notebook is to properly adjust the data structure from the source .csv files to a format compatible with Postgres, and then upload it to our server. This will allow the data to be used independently for analysis and reporting in later steps.

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Libraries import</p>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Preparing an 'url' and 'engine' variables from the SQLAlchemy library to upload data into the database</p>

In [5]:
url = f'postgresql://postgres_user:coderslab@localhost/airlines'
engine = create_engine(url)

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Loading DataFrames into the workspace</p>

In [6]:
def load_raw_data(file_name):
    df = pd.read_csv(file_name)
    df.columns = df.columns.str.lower()
    return df

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Loading and reading individual files as DataFrames</p>

In [8]:
%%time

aircraft_df = load_raw_data('/Users/me/PycharmProjects/Airlines_Delays_Analysis/data/raw/aircraft.csv')
airport_weather_df = load_raw_data('/Users/me/PycharmProjects/Airlines_Delays_Analysis/data/raw/airport_weather.csv')
flight_df = load_raw_data('/Users/me/PycharmProjects/Airlines_Delays_Analysis/data/raw/flight.csv')
airport_list_df = load_raw_data('/Users/me/PycharmProjects/Airlines_Delays_Analysis/data/raw/airport_list.csv')

CPU times: user 5.35 s, sys: 693 ms, total: 6.05 s
Wall time: 6.11 s

Poniżej jest to notatnika 4.02

In [11]:
# flight_df_01 = load_raw_data('/Users/Me/Desktop/Airports_CL/data/processed/flight_df_01.csv')

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Exporting data to the database...</p>

In [13]:
def export_table_to_db(df, table_name):
    print(f"Loading data into the {table_name} table...")
    df.to_sql(table_name, con=engine, if_exists='replace', index=True, index_label='id', chunksize=1000)

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'aircraft_db' to 'aircraft'</p>

In [15]:
%%time

export_table_to_db(aircraft_df, 'aircraft')

Loading data into the aircraft table...
CPU times: user 56.8 ms, sys: 5.84 ms, total: 62.6 ms
Wall time: 157 ms

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'airport_weather_df' to 'airport_weather'</p>

In [17]:
%%time

export_table_to_db(airport_weather_df, 'airport_weather')

Loading data into the airport_weather table...
CPU times: user 1.24 s, sys: 30.7 ms, total: 1.27 s
Wall time: 2.13 s

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'flight_df' to 'flight'</p>

In [19]:
%%time

export_table_to_db(flight_df, 'flight')

Loading data into the flight table...
CPU times: user 4min 12s, sys: 2.67 s, total: 4min 15s
Wall time: 6min 54s

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'airport_list_df' to 'airport_list'</p>

In [21]:
%%time

export_table_to_db(airport_list_df, 'airport_list')

Loading data into the airport_list table...
CPU times: user 4.17 ms, sys: 905 μs, total: 5.08 ms
Wall time: 27.6 ms

In [22]:
engine.dispose()

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>Checking whether the tables have been properly populated with data...</p>

In [24]:
def test_data_export(table_name, expected_count, expected_schema):
    real_count = pd.read_sql(f"SELECT COUNT(*) as cnt FROM {table_name}", engine).iloc[0, 0]
    
    real_schema = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 0", engine)
    real_schema = set(real_schema.columns)

    expected_schema = set(expected_schema)

    diff = real_schema.symmetric_difference(expected_schema)

    assert len(diff) == 0, ('The columns of the tables do not match...'
    f'\tExpected: {expected_schema}'
    f'\tGot: {real_schema}'
    f'\tDifference: {diff}')

    assert expected_count == real_count, f'The number of rows does not match, expected {expected_count}, but got {real_count}.'

    print(f"All data to the '{table_name}' table has been correctly exported!")

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'aircraft' table</p>

In [26]:
aircraft_expected_count = 7383
aircraft_expected_schema = ['id', 'manufacture_year', 'tail_num', 'number_of_seats']

test_data_export('aircraft', aircraft_expected_count, aircraft_expected_schema)

All data to the 'aircraft' table has been correctly exported!

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'airport_weather' table</p>

In [28]:
airport_weather_expected_count = 46226
airport_weather_expected_schema = ['id', 'station', 'name', 'date', 'awnd', 'prcp', 'snow', 'snwd', 'tavg', 'tmax', 'tmin', 'wdf2', 'wdf5', 'wsf2', 'wsf5', 'wt01', 'wt08', 'wt02',
       'wt03', 'wt04', 'wt09', 'wt06', 'wt05', 'pgtm', 'wt10', 'wesd', 'sn32',
       'sx32', 'psun', 'tsun', 'tobs', 'wt07', 'wt11', 'wt18']

test_data_export('airport_weather', airport_weather_expected_count, airport_weather_expected_schema)

All data to the 'airport_weather' table has been correctly exported!

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'flight' table</p>

In [30]:
flight_expected_count = 9251880
flight_expected_schema = ['id', 'month', 'day_of_month', 'day_of_week', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id',
       'crs_dep_time', 'dep_time', 'dep_delay_new', 'dep_time_blk',
       'crs_arr_time', 'arr_time', 'arr_delay_new', 'arr_time_blk',
       'cancelled', 'crs_elapsed_time', 'actual_elapsed_time', 'distance',
       'distance_group', 'year', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay']

test_data_export('flight', flight_expected_count, flight_expected_schema)

All data to the 'flight' table has been correctly exported!

<p style='background-color: #FFFFE0; margin-top:20px; padding:5px 15px; font-weight: 500'>...'airport_list' table</p>

In [32]:
aircraft_list_expected_count = 97
aircraft_list_expected_schema = ['id', 'origin_airport_id', 'display_airport_name', 'origin_city_name', 'name']

test_data_export('airport_list', aircraft_list_expected_count, aircraft_list_expected_schema)

All data to the 'airport_list' table has been correctly exported!